---
layout: base
eleventyNavigation:
  key: Latest News
  parent: Resources
  order: 2
---
 <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Latest News</h1>
        <p class="lead">London's social housing demolitions reach nearly 23,000 in a decade.</a></p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
          <img class="rounded-lg-3" src="/images/demolitionunsplash.jpg" alt="" width="220">
      </div>
    </div>
  </div>


 <div class="container marketing">
	 
	<hr class="featurette-divider">

<div class="row featurette">
      <div class="container">
        <h2 class="featurette-heading">Analysis by LTF</h2>
	<p class="lead">
   Only 12,050 additional social-rented homes were built in London over the last decade, while almost double this number (22,895) <a href="https://londontenants.org/wp-content/uploads/2022/12/Demolitions-London-2012-22-table.pdf">were demolished</a>, according to London Tenants Federation (LTF). Had there been no social housing demolitions, an additional <a href="https://londontenants.org/wp-content/uploads/2022/12/Had-we-had-no-demolitions-2012-22.pdf">35,000 social-rented homes</a> would have been available for households in need of this type of housing in the capital.
</br>
</br>
LTF's recent analysis of delivery and loss of homes in the capital provides a breakdown of the highest to lowest number of social-rented homes demolished in London boroughs/planning authorities - making use of the Mayor of London’s <a href="https://data.london.gov.uk/dataset/residential-completions-v-london-plan-2021-target">online residential completions dashboard.</a>
</br>
The highest number of demolitions, almost 5,000, was in the London Borough of Ealing. There were over 4,000 demolitions in the London Borough of Southwark, almost 2,000 in the London Borough of Hackney and over 1,000 in a further four boroughs.
</br>
The demolitions, combined with the 2012 introduction of affordable rent homes with up to 80% of market rents - instead of social-rented homes – significantly contributed to the increase in London’s backlog of need for social-rented homes.
</br>
The Mayor of London’s office assessed that the backlog had increased threefold from 61,000 in 2013 to 163,000 in 2017 and that to meet the need in London around 50% of new and additional homes delivered would have to be social-rented.
</br>
The backlog is likely to have increased considerably since 2017, although surprisingly, Sadiq Khan’s office has not produced a new assessment of housing needs.
</br>
</br>
Pat Turnbull, a housing association tenant representative from Hackney said “a sensible strategy in response to the government policy changes of 2012 would have been to protect as many social-rented homes as possible. However, the demolition of 23,000 since then has simply escalated the problems, with increasingly high numbers of homeless families living in temporary or overcrowded homes.

<i>“Money intended for building additional social-rented homes is often used to replace demolished homes with replacements being at ‘affordable rents’ rather than the housing type needed. In addition, demolition and rebuilding are almost certainly more expensive than refurbishment.
‘We need the government to provide positive investment in both new and refurbished social-rented homes and the Mayor of London to ensure that proposals for social-rented housing demolitions are rejected unless the homes are structurally unsound.”
</i>
  </p>
      </div>
    </div> 

 <hr class="featurette-divider">

 

    <!-- /END THE FEATURETTES -->
    </div>

