---
layout: base
eleventyNavigation:
  key: Podcasts
  parent: Resources
  order: 2
---
  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Podcasts</h1>
        <p class="lead">Listen to our podcasts from residents on estates under threat talking about their experiences.</p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
          <img class="rounded-lg-3" src="/images/mic.png" alt="" width="200">
      </div>
    </div>
  </div>

 <div class="container py-4">
	 
<div class="row align-items-md-stretch">
  <div class="col-md-6 mt-3">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Achilles Street estate</h2>
          <p class="lead">Jacqui speaks about the ballot on the Achilles Street area estate in Lewisham, which took place in 2019.</p>
          <audio controls="" src="/interviews/achillesju.mp3"></audio>
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Broadwater Farm estate</h2>
          <p class="lead">Jacob talks about residents' experiences of Haringey's plans to redevelop Broadwater Farm estate.</p>
          <audio controls="" src="/interviews/broadwaterfarmpodcast.mp3"></audio>
        </div>
      </div>

   <div class="col-md-6 mt-3">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Central Hill estate</h2>
          <p class="lead">Sabine sums up how residents feel about Lambeth Council's plans to demolish Central Hill estate.</p>
          <audio controls="" src="/interviews/centralhillsabine.mp3"></audio>
        </div>
      </div>


    </div>


    </div>
   
