---
meta:
  lang: en
  title: ESTATE WATCH
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Resources for residents on estates under threat of demolition.
layout: base
eleventyNavigation:
  key: Home
---

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <img src="/images/bulldozer.png" class="float-end" alt="Bulldozer logo">
    <h1 class="display-5 fw-bold">{{ site.title }}</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      A resource for residents on estates under threat of demolition.
    </p>
    <p class="mt-4">
      <small>A <a href="/pages/imprint">project</a> by <a href="https://londontenants.org">London Tenants Federation</a> and <a href="https://justspace.org.uk">Just Space</a>.</small>
    </p>
    <a class="btn btn-outline-dark" href="/images/ballotsnewsletter.pdf" target="_blank">
      Read our latest newsletter
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-box-arrow-up-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
        />
        <path
          fill-rule="evenodd"
          d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
        />
      </svg>
    </a>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #ff7979">
      <h2>Estate Ballots</h2>
      <p>
        The Mayor's process for balloting residents on estates earmarked for demolition is flawed. We have set out in detail how the process is failing residents and how the Mayor could resolve the issues with several simple policy amendments.
      </p>
      <a href="/pages/ballots" class="btn btn-outline-dark">Read more</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #7ed6df">
      <h2>Resources for residents</h2>
      <p>
        We have created a number of factsheets, handouts and guides for residents on estates earmarked for demolition. We also hold quarterly meetings for residents where we exchange experiences and advice.
      </p>
      <a href="/pages/factsheets" class="btn btn-outline-dark">Read more</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #f6e58d">
      <h2>The social impact</h2>
      <p>
        Research shows that demolition and displacement causes significant distress for residents affected.
      </p>
      <a href="/pages/research" class="btn btn-outline-dark">Read more</a>
    </div>
  </div>

 
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 rounded-3" style="background-color: #1add65">
      <h2>Refurbishment</h2>
      <p>
        Research has shown that refurbishment of council estates is the best option when environmental and social factors are properly taken into account.
      </p>
        <a href="/pages/refurbishment" class="btn btn-outline-dark">Read more</a>
      </a>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <div class=d-block mx-lg-auto">
      {% picture "src/images/mapscreenshot.png", "map screenshot" %}
    </div>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Estates under threat</h1>
      <p class="lead">Over 100 council and housing association estates across London are under threat of demolition and dozens have already been raised to rubble. Our research shows where they are.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/pages/estates/underthreat/">
        <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">Under threat</button>
      </a>
        <a href="/pages/estates/demolished/">
        <button type="button" class="btn btn-danger btn-lg px-4">Demolished</button>
    </a>
      </div>
    </div>
  </div>
</div>


<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
