---
meta:
  lang: en
  title: ESTATE WATCH
  image: "/images/teaser.jpg"
  description: Resources for residents on estates under threat of demolition.
layout: base
eleventyNavigation:
  key: Home
---
<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-dark text-white">

<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
 
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-fluid py-2">
    <img src="/images/draperrefurbsmall.png" class="float-end mx-auto" alt="Bulldozer logo">
    <h1 class="display-5 fw-bold">{{ site.title }}</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      A VOICE for residents on estates earmarked for demolition.
    </p>
    <p class="mt-4">
      A <a href="/pages/imprint">project</a> by <a href="https://londontenants.org">London Tenants Federation</a> and <a href="https://justspace.org.uk">Just Space.</a>
    </p>
    </br>
    </br>
    </br>
  </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid py-2">
    <img src="/images/tagposter.png" class="float-end mx-auto" alt="Bulldozer logo">
    <h1 class="display-5 fw-bold">Love Lane estate interviews</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      Read interviews with residents on what they think of Haringey's demolition plans.
    </p>
    </br>
 <a class="btn btn-primary" href="/pages/interviews" role="button">Click here  <svg
        xmlns="https://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-box-arrow-up-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
        />
        <path
          fill-rule="evenodd"
          d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
        />
      </svg></a>
      </br>
      </br>
      </br>
  </div>
    </div>
     <div class="carousel-item">
      <div class="container-fluid py-2">
    <img src="/images/ballotpapertransparent.png" class="float-end mx-auto" alt="Bulldozer logo">
    <h1 class="display-5 fw-bold">Estate Ballots</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      Learn how the Mayor's ballot rules are flawed and how they can be put right.
    </p>
     </br>
 <a class="btn btn-primary" href="/pages/ballots" role="button">Read more  <svg
        xmlns="https://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-box-arrow-up-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
        />
        <path
          fill-rule="evenodd"
          d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
        />
      </svg></a>
      </br>
      </br>
      </br>
  </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid py-2">
    <img src="/images/draftguidance6.jpg" class="float-end mx-auto" alt="Draft guidance logo">
    <h1 class="display-5 fw-bold">Alternative Good Practice Guide</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      Our own Good Practice Guide to estate regeneration picks up where the Mayor's guide fails.
    </p>
     </br>
 <a class="btn btn-primary" href="/images/draftguidance8.pdf" role="button">The guide <svg
        xmlns="https://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-box-arrow-up-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
        />
        <path
          fill-rule="evenodd"
          d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
        />
      </svg></a>
      </br>
      </br>
      </br>
  </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid py-2">
    <img src="/images/mic.png" class="float-end mx-auto" alt="Bulldozer logo">
    <h1 class="display-5 fw-bold">Latest podcasts</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      Hear from residents on different estates talk about their experiences.
    </p>
   </br>
 <a class="btn btn-primary" href="/pages/podcasts" role="button">Listen in  <svg
        xmlns="https://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-box-arrow-up-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
        />
        <path
          fill-rule="evenodd"
          d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
        />
      </svg></a>
      </br>
       </br> 
       </br>
  </div>
    </div>
  </div>
 <!-----control left/right buttons go here -------------->
</div>

  
</div>

<!---------------End of Carousel and Jumbotron------------------->


<div class="container col-xxl-8 px-4 py-1">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <div class=d-block mx-lg-auto">
      {% picture "src/images/mapscreenshot.png", "map screenshot" %}
    </div>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">¡UNDER THREAT!</h1>
      <p class="lead">Over 100 council and housing association estates across London are under threat of demolition and dozens have already been <a href="/pages/estates/demolished/">raised to rubble.</a></p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/pages/estates/underthreat/">
        <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">Estates under threat <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-box-arrow-up-right"
        viewBox="0 0 16 16"
      >
      <path
          fill-rule="evenodd"
          d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
        />
        <path
          fill-rule="evenodd"
          d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
        />
      </svg></button>
      </a>
        
      </div>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-1">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <div class=d-block mx-lg-auto">
        <h1 class="display-5 fw-bold lh-1 mb-3">WHO WE ARE</h1>
      <p class="lead">We are a network of tenants and residents’ groups and individuals whose estates are at risk of demolition or are in the process of demolition. Supported by <a href="https://londontenants.org">London Tenants Federation</a> and <a href="https://justspace.org.uk">Just Space</a>, we provide help and guidance to residents living on estates earmarked for demolition.</br> We support residents engaging in discussion to make their own decisions about what might work best on their estates.
We have created a number of <a href="/pages/factsheets">factsheets, handouts and guides</a> and also hold quarterly meetings for residents where we exchange experiences and advice. Read more about us and how to get involved <a href="/pages/imprint">here.</a>
</p>   
    </div>
    </div>
    <div class="col-lg-6">
      <a class="twitter-timeline" href="https://twitter.com/EstateWatch_LDN/lists/1590260588562751490?ref_src=twsrc%5Etfw" data-tweet-limit="1">A Twitter List by EstateWatch_LDN</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>


